<!DOCTYPE html>
<html lang="en">
<head>
 <title>Change Password</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

 <script>
   var check = function() {
       if (document.getElementById('password').value ==
         document.getElementById('cpassword').value) {
           $('#submit').prop('disabled', false);
           document.getElementById('message').style.color = 'green';
           document.getElementById('message').innerHTML = 'Password Matched';
       } else {
         $('#submit').prop('disabled', true);
         document.getElementById('message').style.color = 'red';
         document.getElementById('message').innerHTML = "Password Doesn't Match";
       }
     }
 </script>


</head>
<body>
       <div class="container" id="lgndiv">
   <div class="row align-items-center">
       <div class="col-5 mx-auto my-auto">
           <div class="card">
               <div class="card-header v1-purple text-center">Change Password</div>
               <div class="card-body text-center">
                   <form action="/updatePass" method="POST">
                       <div class="form-group">
                           <input class="form-control" type="password" name="password" id="password" minlength="8" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Password" autofocus  required  />
                       </div>
                       <div class="form-group">
                           <input class="form-control" type="password" name="cpassword" id="cpassword" minlength="8" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Confirm Password" onkeyup="check();"  required />
                           <span id='message'></span>
                       </div>
                       <input type="hidden" name="userid" value="<%= userid %>"/>
                       
                       <button type="submit" class="btn btn-primary v1-purple" id="submit" disabled>Update Password</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
</body></html>
